# Python
*.pyc
__pycache__/
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info/
dist/
build/

# Streamlit
.streamlit/secrets.toml

# Cloud Shell
.gemini/
.gcloudignore
.google/
.vscode/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
.bash_history
.codeoss/
README-cloudshell.txt
